<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Human Resources</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size="12" size-md="6" size-lg="4">
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <ion-button (click)="openHrSystem()" expand="block" color="danger">
                Open Leave Application System
                <ion-icon slot="end" name="open"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col *ngIf="showPaySlip">
              <ion-button (click)="openPayslipPdf()" expand="block">
                Payslip
                <ion-icon slot="end" name="print"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
        <!-- <ng-container *ngIf="leaves$ | async as leaves; else loadingLeaves">
          <ion-card class="ion-margin-top">
            <ion-card-header>
              <ion-card-title class="fixed-ui-title">Summary</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <chart height="600" [type]="summaryChart.type" [data]="summaryChart.data"
                [options]="summaryChart.options">
              </chart>
            </ion-card-content>
          </ion-card>
          <ion-card class="ion-margin-top">
            <ion-card-header>
              <ion-card-title class="fixed-ui-title">Leave Types</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-grid class="ion-no-padding">
                <ion-row *ngIf="leaves.length > 0; else noLeaves">
                  <ion-col class="ion-no-padding" size="12">
                    <ion-slides #slides [options]="highestRatedSliderOpts">
                      <ion-slide class="with-padding-bottom" *ngFor="let leave of leaves">
                        <ion-card class="ion-no-margin with-min-width white-background">
                          <ion-card-header>
                            <ion-card-title>
                              <h6 class="ion-text-center main-text-color text-bold">{{ leave.LEAVE_TYPE }}</h6>
                            </ion-card-title>
                          </ion-card-header>
                          <ion-card-content class="ion-no-padding absolute-content white-background">
                            <h2 class="text-bold acronym" [style.color]="leave.LEAVE_TYPE_COLOR">
                              {{ leave.LEAVE_ACRONYM }}</h2>
                          </ion-card-content>
                          <ion-footer class="card-footer">
                            <p><span class="text-bold">Available: </span> {{ ' ' + leave.AVAILABLE }}</p>
                            <p><span class="text-bold">Taken: </span> {{ ' ' + leave.TAKEN }}</p>
                          </ion-footer>
                        </ion-card>
                      </ion-slide>
                    </ion-slides>
                  </ion-col>
                </ion-row>
                <ng-template #noLeaves>
                  <app-message-with-svg messageTitle="No leaves To Show!"
                    messageContent="There are no leaves to display for this account." imageUrl="assets/img/empty.svg"
                    wrapperOffset="3" wrapperSize="6">
                  </app-message-with-svg>
                </ng-template>
              </ion-grid>
            </ion-card-content>
          </ion-card>
        </ng-container>
        <ng-template #loadingLeaves>
          <ion-card style="width:100%">
            <ion-skeleton-text animated style="line-height: 200px; width: 100%;"></ion-skeleton-text>
          </ion-card>
          <ion-grid>
            <ion-row>
              <ion-col offset="1" size="5">
                <ion-skeleton-text animated style="line-height: 200px; width: 100%;"></ion-skeleton-text>
              </ion-col>
              <ion-col offset="1" size="5">
                <ion-skeleton-text animated style="line-height: 200px; width: 100%;"></ion-skeleton-text>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ng-template> -->
        <ion-card class="ion-margin-top">
          <ion-card-header>
            <ion-card-title class="fixed-ui-title">Away This Week</ion-card-title>
          </ion-card-header>
          <ion-card-content class="ion-no-padding"
            *ngIf="leaveInCluster$ | async as staffsOnLeaveList; else loadingStaffOnLeave">
            <ng-container *ngIf="staffsOnLeaveList.length > 0; else noStaffOnLeave">
              <ion-list class="on-leave-list" *ngFor="let staffOnLeaveGroupedByDate of staffsOnLeaveList">
                <ion-list-header class="colored-header ion-no-padding">
                  <h5 class="ion-padding-start ion-padding-end">
                    {{staffOnLeaveGroupedByDate.date | date: 'EEE, dd MMM yyy'}}
                  </h5>
                </ion-list-header>
                <ion-item *ngFor="let staffOnLeave of staffOnLeaveGroupedByDate.value">
                  <ion-avatar slot="start">
                    <img [src]="staffOnLeave.PHOTO">
                  </ion-avatar>
                  <ion-label>
                    <h2>{{staffOnLeave.FULLNAME}}</h2>
                    <h3 class="text-bold">{{staffOnLeave.LEAVEDATE | date: 'EEE, dd MMM yyy'}}</h3>
                    <p><span class="text-bold">Email: </span> <a class="colored-text text-bold"
                        href="mailto:{{staffOnLeave.EMAIL}}">{{staffOnLeave.EMAIL}}</a></p>
                  </ion-label>
                </ion-item>
              </ion-list>
            </ng-container>
            <ng-template #noStaffOnLeave>
              <app-message-with-svg messageTitle="No One is On Leave In Your Cluster!"
                messageContent="Yaay! All of your colleagues in your cluster are in office this week"
                imageUrl="assets/img/happy.svg" wrapperOffset="3" wrapperSize="6">
              </app-message-with-svg>
            </ng-template>
          </ion-card-content>
          <ng-template #loadingStaffOnLeave>
            <ion-item *ngFor="let _ of skeletons">
              <ion-skeleton-text animated style="line-height: 35px; width: 100%;"></ion-skeleton-text>
            </ion-item>
          </ng-template>
        </ion-card>

        <ion-card class="ion-margin-top">
          <ion-card-header>
            <ion-card-title class="fixed-ui-title">Pending My Approval</ion-card-title>
          </ion-card-header>
          <ion-card-content class="ion-no-padding">
            <ng-container *ngIf="pendingApproval$ | async as pendingApprovals; else loadingPendingApproval">
              <ion-list class="ion-no-padding" *ngIf="pendingApprovals.length > 0; else noPending">
                <ion-item *ngFor="let pendingApproval of pendingApprovals">
                  <ion-label>
                    <h2 class="text-bold">{{ pendingApproval.FULLNAME }}</h2>
                    <p>
                      <ion-icon class="text-bold" name="pricetags"></ion-icon>
                      {{ pendingApproval.LEAVETYPE }}
                    </p>
                    <p>
                      <ion-icon class="text-bold" name="calendar"></ion-icon>
                      {{pendingApproval.LEAVEDATE | date: 'EEE, dd MMM yyy'}}
                    </p>
                  </ion-label>
                  <ion-badge color="danger">{{pendingApproval.STATUS}}</ion-badge>
                </ion-item>
              </ion-list>
              <ng-template #noPending>
                <app-message-with-svg messageTitle="No Leaves with Pending Status!"
                  messageContent="There are no leaves pending your approval." imageUrl="assets/img/config.svg"
                  wrapperOffset="3" wrapperSize="6">
                </app-message-with-svg>
              </ng-template>
            </ng-container>
            <ng-template #loadingPendingApproval>
              <ion-item *ngFor="let _ of skeletons">
                <ion-skeleton-text animated style="line-height: 35px; width: 100%;"></ion-skeleton-text>
              </ion-item>
            </ng-template>
          </ion-card-content>
        </ion-card>

      </ion-col>
      <ion-col size="12" size-md="6" size-lg="8" class="ion-no-padding">
        <ion-card>
          <ion-card-header>
            <ion-card-title class="fixed-ui-title">Leave History</ion-card-title>
          </ion-card-header>
          <ion-card-content class="ion-no-padding transparent-background">
            <ion-grid class="ion-no-padding">
              <ion-row>
                <ion-col class="ion-no-padding" size="12">

                  <ng-container *ngIf="history$ | async as historyList; else loadingHistory">
                    <ion-list *ngFor="let historyGroupedByMonth of historyList" class="ion-no-padding">
                      <ion-list-header class="colored-header ion-no-padding">
                        <h5 class="ion-padding-start ion-padding-end">
                          {{historyGroupedByMonth.date}}
                        </h5>
                      </ion-list-header>
                      <ng-container *ngFor="let historyItem of historyGroupedByMonth.value">
                        <ion-item [ngClass]="{
                          'approved': historyItem.STATUS === 'Approved',
                          'pending': historyItem.STATUS === 'PENDING',
                          'cancelled': !(historyItem.STATUS === 'Approved' || historyItem.STATUS === 'PENDING')
                      }">
                          <ion-label>
                            <h4 class="text-bold responsive-h1">{{historyItem.LEAVE_TYPE}}</h4>
                            <p *ngIf="historyItem.LEAVE_DATE">
                              {{historyItem.LEAVE_DATE | date : 'EEE, dd MMM yyy'}}
                            </p>
                            <p *ngIf="historyItem.RESPONSE_DATE">
                              *Response Date: {{historyItem.RESPONSE_DATE | date : 'EEE, dd MMM yyy'}}
                            </p>
                          </ion-label>
                          <ion-badge slot="end">{{historyItem.STATUS}}</ion-badge>
                        </ion-item>
                      </ng-container>

                    </ion-list>
                  </ng-container>
                  <ng-template #loadingHistory>
                    <ion-item *ngFor="let _ of skeletons">
                      <ion-skeleton-text animated style="line-height: 35px; width: 100%;"></ion-skeleton-text>
                    </ion-item>
                  </ng-template>
                </ion-col>
              </ion-row>
              <ng-template #noLeaves>
                <app-message-with-svg messageTitle="No leaves To Show!"
                  messageContent="There are no leaves to display for this account." imageUrl="assets/img/empty.svg"
                  wrapperOffset="3" wrapperSize="6">
                </app-message-with-svg>
              </ng-template>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>