ion-col {
    ion-badge {
        min-width: 24px;
        border-radius: 19px;
        padding: 10px;
    }
    &.attended {
      ion-badge {
        --background: var(--success-color);
      }
    }
    &.absent {
      ion-badge {
        --background: var(--danger-color);
        
      }
    }
    &.absent-reason {
      ion-badge {
        --background: #dfa847;
      }
    }
    &.late {
      ion-badge {
        --background: #808080;
      }
    }
    .details {
      --background: var(--primary-color);
    }
  }