<ion-header no-border>
  <ion-toolbar mode="md">
    <ion-title>{{ title }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content parallax-header>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="8" size-xl="10" offset-md="2" offset-xl="1">
        <ion-card *ngIf="loaded; else loadingCalendar">
          <ion-card-content>

            <ion-calendar 
              [(ngModel)]="openDate" 
              (change)="onChange($event)" 
              [options]="options" 
              [type]="'string'"
              [format]="'YYYY-MM-DD'"
            >
            </ion-calendar>
            <ion-list>
              <ion-item lines="none">
                <ion-label class="colored-text text-bold">
                  Class:
                </ion-label>
                <ion-badge *ngIf="showDetails; else template" class="details">
                  {{ classType }}
                </ion-badge>
                <ng-template #template>
                  <ion-badge class="details">
                    ---
                  </ion-badge>
                </ng-template>
              </ion-item>
              <ion-item>
                <ion-label class="colored-text text-bold">
                  Time:
                </ion-label>
                <ion-badge *ngIf="showDetails; else template" class="details">
                  {{ timeFrom + ' - ' + timeTo }}
                </ion-badge>
                <ng-template #template>
                  <ion-badge class="details">
                    ---
                  </ion-badge>
                </ng-template>
              </ion-item>
            </ion-list>
            <ion-item class="ion-no-padding" lines="none">
              <ion-grid>
                <ion-row>
                  <ion-col class="ion-text-center" offset="0.5">
                    <ion-col class="attended">
                      <ion-badge>Present</ion-badge>
                    </ion-col>
                    <ion-col class="absent">
                      <ion-badge>Absent</ion-badge>
                    </ion-col>
                    <ion-col class="late">
                      <ion-badge>Late</ion-badge>
                    </ion-col>
                    <ion-col class="absent-reason">
                      <ion-badge>Absent with Reason</ion-badge>
                    </ion-col>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ng-template #loadingCalendar>
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-xl="10" offset-xl="1">
          <ion-card>
            <ion-card-content>
              <ion-skeleton-text animated style="width: 100%; line-height: 300px"></ion-skeleton-text>
              <ion-list>
                <ion-item lines="none">
                  <ion-label class="colored-text text-bold">
                    <ion-skeleton-text animated style="width: 20%; line-height: 10px"></ion-skeleton-text>
                  </ion-label>
                  <ion-skeleton-text animated style="width: 20%; line-height: 10px"></ion-skeleton-text>
                </ion-item>
                <ion-item>
                  <ion-label class="colored-text text-bold">
                    <ion-skeleton-text animated style="width: 20%; line-height: 10px"></ion-skeleton-text>
                  </ion-label>
                  <ion-skeleton-text animated style="width: 35%; line-height: 10px"></ion-skeleton-text>
                </ion-item>
              </ion-list>
              <ion-item class="ion-no-padding" lines="none">
                <ion-grid>
                  <ion-row>
                    <ion-col size="8" offset="2">
                      <ion-skeleton-text animated style="width: 100%; line-height: 10px"></ion-skeleton-text>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-template>
</ion-content>