.form-input {
    border-radius: 7px;
    background: var(--main-bg-color);
    padding: 3px 10px !important;
    margin: 10px 0px;
    border: 1px solid var(--tertiary-bg-color);
    min-height: 40px;
}