<ion-header no-border>
  <ion-toolbar mode="md">
    <ion-title>Request Profile Update</ion-title>
    <ion-buttons slot="end">
      <ion-button outline (click)="dismiss()">
        <ion-icon class="colored-text" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-margin-top">
    <ion-row>
      <ion-col size="12" size-md="5" push-md="7">
        <ng-template let-photo [ngIf]="photo$ | async">
          <ion-card>
            <ion-card-content class="ion-no-padding ion-padding-bottom">
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <h1 class="text-bold colored-text">PROFILE PICTURE</h1>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="12" class="ion-text-center">
                    <ion-img class="profile-photo" [src]="
                    'data:image/jpg;base64,' +
                    photo?.base64_photo
                    " (ionError)="$event.target.src = 'assets/img/no_img.png'">
                    </ion-img>
                  </ion-col>
                </ion-row>
                <ion-row class="ion-padding-start ion-padding-end">
                  <ion-col size="12">
                    <p>If you would like to request for an update to your profile picture, please upload the new picture
                      here</p>
                  </ion-col>
                  <ion-col size="12" size-md="6">
                    <ion-input type="file" accept="application/pdf, image/jpeg, image/png" button
                      (change)="changeListener($event)"></ion-input>
                  </ion-col>
                  <ion-col size="12">
                    <small>Supported files are: PNG and JPEG only.</small>
                  </ion-col>
                  <ion-col size="12">
                    <ion-button color="success" [disabled]="!file"
                      (click)="uploadDocument(orientationProfile.student_details[0].STUDENT_NAME, orientationProfile.councelor_details[0].COUNCELOR_NAME, orientationProfile.councelor_details[0].EMAIL)">
                      SUBMIT NEW PICTURE REQUEST</ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>
        </ng-template>
      </ion-col>
      <ion-col size="12" size-md="7" pull-md="5">
        <ion-card>
          <ion-card-content class="ion-no-padding">
            <ion-grid>
              <ion-row>
                <ion-col>
                  <h1 class="text-bold colored-text">PERSONAL INFORMATION</h1>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <ion-item>
                    <ion-label position="floating" color="medium">Full Name <small class="danger-text">(AS IN
                        IC/PASSPORT)</small></ion-label>
                    <ion-input [(ngModel)]="updatedOrientationProfile.student_details[0].STUDENT_NAME"
                      placeholder="Full Name" type="text" [value]="orientationProfile.student_details[0].STUDENT_NAME">
                    </ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size="12">
                  <ion-item>
                    <ion-label position="floating" color="medium">IC / PASSPORT NO.</ion-label>
                    <ion-input [(ngModel)]="updatedOrientationProfile.student_details[0].IC"
                      placeholder="IC / PASSPORT NO." type="text" [value]="orientationProfile.student_details[0].IC">
                    </ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size="12">
                  <ion-item>
                    <ion-label position="floating" color="medium">DATE OF BIRTH</ion-label>
                    <ion-datetime placeholder="DATE OF BIRTH"
                      [(ngModel)]="updatedOrientationProfile.student_details[0].DOB"
                      [value]="orientationProfile.student_details[0].DOB | date"></ion-datetime>
                  </ion-item>
                </ion-col>
                <ion-col size="12">
                  <ion-item>
                    <ion-label position="floating" color="medium">NATIONALITY</ion-label>
                    <ion-input [(ngModel)]="updatedOrientationProfile.student_details[0].NATIONALITY"
                      placeholder="NATIONALITY" type="text" [value]="orientationProfile.student_details[0].NATIONALITY">
                    </ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size="12">
                  <ion-item>
                    <ion-label position="floating" color="medium">COUNTRY OF ORIGIN</ion-label>
                    <ion-input [(ngModel)]="updatedOrientationProfile.student_details[0].COUNTRY_OF_ORIGIN"
                      placeholder="COUNTRY OF ORIGIN" type="text"
                      [value]="orientationProfile.student_details[0].COUNTRY_OF_ORIGIN"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size="12">
                  <ion-item>
                    <ion-label position="floating" color="medium">RACE</ion-label>
                    <ion-input [(ngModel)]="updatedOrientationProfile.student_details[0].RACE" placeholder="RACE"
                      type="text" [value]="orientationProfile.student_details[0].RACE">
                    </ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <h1 class="text-bold colored-text">COURSE INFORMATION</h1>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12" size-md="8">
                  <ion-item>
                    <ion-label position="floating" color="medium">COURSE</ion-label>
                    <ion-input [(ngModel)]="updatedOrientationProfile.student_details[0].COURSE" placeholder="COURSE"
                      type="text" [value]="orientationProfile.student_details[0].COURSE">
                    </ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <ion-button color="success" class="ion-margin-top" (click)="submit()">
                    SUBMIT NEW INFO REQUEST
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>