.margin-auto {
  margin: auto;
}

.table-header {
  background-color: var(--danger-color) !important;
  padding: 5px 0;
  color: white !important;
}

.table-row:not(:last-child) {
  border-bottom: 1px solid #cccccc;
  padding: 5px 0;
}
