/* 01. UTILITIES */
/* ********************************************************************** */
ion-button,
a {
  cursor: pointer !important;
  text-decoration: none !important;
}

ion-back-button,
ion-title {
  --color: var(--primary-color) !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

.text_center {
  text-align: center !important;
}

.clearfix {
  clear: both !important;
}

.float-left {
  float: left !important;
}

.text-bold {
  font-weight: 500 !important;
}

.text-bolder {
  font-weight: 700 !important;
}

.margin-top {
  margin-top: 16px !important;
}

.small-margin-top {
  margin-top: 5px;
}

.cursor-pointer {
  cursor: pointer !important;
}

/* 03. TEXT COLORS */
/* ********************************************************************** */

/* 04. OVERRIDE DEFAULT SETTINGS FOR BROWSER & FRAMEWORK */
/* ********************************************************************** */

/* REMOVE INPUT BACKGROUND FOR CHROME BROWSER */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

/* FIX OVERLAPPING ISSUE IN SWIPER */
.swiper-wrapper {
  margin-bottom: 15px !important;
}

.swiper-pagination {
  position: relative !important;
  bottom: 5px !important;
}

.ios {
  .small-text {
    font-size: 0.4em !important;
  }
}

.md {
  .small-text {
    font-size: 0.6em !important;
  }
}

// Modal Height
.add-min-height {
  .modal-wrapper {
    min-height: 85%;
  }
}

.add-min-height-width {
  .modal-wrapper {
    min-height: 90%;
    min-width: 90%;
  }
}

.custom-modal-style {
  .modal-wrapper {
    min-width: 97%;
    height: 90%;
    position: absolute;
    bottom: 0;
  }
}

.attendanceDetailsModal {
  .modal-wrapper {
    min-width: 67%;
    height: 75%;
    position: absolute;
    bottom: 0;
  }
}

// ANIMATIONS
.animated {
  transition: all 0.5s;
}

.anim-rotate-270-deg {
  &:hover {
    transform: rotate(270deg);
  }
}

.anim-rotate-360-deg {
  &:hover {
    transform: rotate(360deg);
  }
}

.anim-scale {
  &:hover {
    transform: scale(1.2);
  }
}

.anim-ring {
  &:hover {
    animation: ring 4s ease-in-out 1;
  }
}

@keyframes ring {
  0% {
    transform: rotate(0);
  }

  1% {
    transform: rotate(30deg);
  }

  3% {
    transform: rotate(-28deg);
  }

  5% {
    transform: rotate(34deg);
  }

  7% {
    transform: rotate(-32deg);
  }

  9% {
    transform: rotate(30deg);
  }

  11% {
    transform: rotate(-28deg);
  }

  13% {
    transform: rotate(26deg);
  }

  15% {
    transform: rotate(-24deg);
  }

  17% {
    transform: rotate(22deg);
  }

  19% {
    transform: rotate(-20deg);
  }

  21% {
    transform: rotate(18deg);
  }

  23% {
    transform: rotate(-16deg);
  }

  25% {
    transform: rotate(14deg);
  }

  27% {
    transform: rotate(-12deg);
  }

  29% {
    transform: rotate(10deg);
  }

  31% {
    transform: rotate(-8deg);
  }

  33% {
    transform: rotate(6deg);
  }

  35% {
    transform: rotate(-4deg);
  }

  37% {
    transform: rotate(2deg);
  }

  39% {
    transform: rotate(-1deg);
  }

  41% {
    transform: rotate(1deg);
  }

  43% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(0);
  }
}

// Dragula
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  pointer-events: none;
}

/* high-performance display:none; helper */
.gu-hide {
  left: -9999px !important;
}

/* added to mirrorContainer (default = body) while dragging */
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

/* added to the source element while its mirror is dragged */
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}

// Popover width & white space
.popover-content {
  --width: 70% !important;

  .item.sc-ion-label-md-h,
  .item .sc-ion-label-md-h {
    white-space: pre-line;
  }
}

// Styling ion-calendar
ion-calendar {
  background-color: var(--secondary-bg-color) !important;
  padding: 0 !important;

  .month-packer-item {
    button {
      color: var(--main-txt-color) !important;
    }

    &.this-month {
      button {
        border-color: var(--primary-color) !important;
        color: var(--primary-color) !important;
      }
    }
  }

  .days-btn {
    p {
      color: var(--main-txt-color) !important;
    }

    &[disabled] p {
      color: var(--passed-event-color) !important;
    }

    &.today p {
      color: var(--sub-primary-color) !important;
    }

    &.on-selected {
      background: var(--primary-color) !important;

      p {
        color: var(--main-txt-color) !important;
      }
    }

    &.available {
      background: var(--success-color) !important;

      &.on-selected {
        background-color: transparent !important;
        border: 3px solid var(--success-color) !important;

        p {
          color: var(--success-color) !important;
        }
      }
    }

    &.available {
      background: var(--success-color) !important;

      &.on-selected {
        background-color: transparent !important;
        border: 3px solid var(--success-color) !important;

        p {
          color: var(--success-color) !important;
        }
      }
    }

    &.booked {
      background: var(--danger-color) !important;

      &.on-selected {
        background-color: transparent !important;
        border: 3px solid var(--danger-color) !important;

        p {
          color: var(--danger-color) !important;
        }
      }
    }

    &.unavailable {
      background: var(--main-txt-color) !important;

      p {
        color: var(--main-bg-color) !important;
      }

      &.on-selected {
        background-color: transparent !important;
        border: 3px solid var(--main-txt-color) !important;

        p {
          color: var(--main-txt-color) !important;
        }
      }
    }

    &.clossed small {
      background: var(--passed-event-color) !important;
      color: var(--passed-event-color) !important;
      width: 24%;
      border-radius: 13px;
      height: 23%;
      margin-left: 2%;

      &.on-selected {
        background-color: transparent !important;
        border: 3px solid var(--passed-event-color) !important;
      }
    }

    &.partially-booked {
      background: #dfa847 !important;

      &.on-selected {
        background-color: transparent !important;
        border: 3px solid #dfa847 !important;

        p {
          color: #dfa847 !important;
        }
      }
    }

    &.attended {
      background: var(--success-color) !important;
  
      &.on-selected {
        background-color: transparent !important;
        border: 3px solid var(--success-color) !important;
  
        p {
          color: var(--success-color) !important;
        }
      }
    }

    &.absent {
      background: var(--danger-color) !important;
  
      &.on-selected {
        background-color: transparent !important;
        border: 3px solid var(--danger-color) !important;
  
        p {
          color: var(--danger-color) !important;
        }
      }
    }

    &.absent-reason {
      background: #dfa847 !important;
  
      &.on-selected {
        background-color: transparent !important;
        border: 3px solid #dfa847 !important;
  
        p {
          color: #dfa847 !important;
        }
      }
    }

    &.late {
      background: #808080 !important;
  
      &.on-selected {
        background-color: transparent !important;
        border: 3px solid #808080 !important;
  
        p {
          color: #808080 !important;
        }
      }
    }
  }

  &.filter-date-picker {
    .days-btn.today p {
      color: var(--passed-event-color) !important;
    }

    .days-btn.today.colored p {
      color: var(--main-txt-color) !important;
    }

    .days-btn.on-selected {
      background-color: transparent !important;
    }
  }
}

ion-refresher-content {
  padding-bottom: 400px;
  background-color: var(--main-bg-color);
  color: red;

  .refresher-pulling {
    margin-top: 50px;

    ion-icon {
      color: var(--main-txt-color);
    }
  }

  .refresher-refreshing {
    margin-top: 70px;

    ion-spinner {
      color: var(--main-txt-color);
    }
  }
}

/** --color not set in ion-select */
ion-select {
  color: var(--main-txt-color);
}

/* FIX FOR ION-SELECT SCROLLBAR IN CHROME*/
.alert-radio-group::-webkit-scrollbar {
  width: 1em;
  display: block !important;
  background-color: rgb(241, 241, 241);
}

.alert-radio-group::-webkit-scrollbar-thumb {
  background-color: rgb(193, 193, 193);
  height: 1em;
}

/* Buttons */
.alert-radio-group::-webkit-scrollbar-button:single-button {
  background-color: rgb(241, 241, 241);
  display: block;
  border-style: solid;
  height: 13px;
  width: 16px;
}

/* Up */
.alert-radio-group::-webkit-scrollbar-button:single-button:vertical:decrement {
  border-width: 0 8px 8px 8px;
  border-color: transparent transparent rgb(80, 80, 80) transparent;
}

.alert-radio-group::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
  border-color: transparent transparent #777777 transparent;
}

/* Down */
.alert-radio-group::-webkit-scrollbar-button:single-button:vertical:increment {
  border-width: 8px 8px 0 8px;
  border-color: rgb(80, 80, 80) transparent transparent transparent;
}

.alert-radio-group::-webkit-scrollbar-button:vertical:single-button:increment:hover {
  border-color: #777777 transparent transparent transparent;
}

/* TEMPORARY FULL PAGE MODAL SETTING FOR EXAM SCHEDULE ADMIN */
.full-page-modal .modal-wrapper{
  position: absolute;
  display: block;
  --width: 100%;
  --height: 100%;
}
.alert-logout {
  color: var(--danger-color) !important;
}

// search bar in attendix
.attendix-content {
  .select-container {
    .input.no-box-shadow .searchbar-input {
      --box-shadow: none !important;
      box-shadow: none !important;

    }
  }
}

.delete-warning {
  .alert-wrapper {
    max-width: 40% !important;

    .alert-head {
      .alert-title {
        color: var(--danger-color) !important;
        font-weight: bold;
      }
    }
  }
}

.alert-wrapper {
  .inline {
    &.absent{
      background: var(--danger-color);
    }
    &.present {
      background-color: var(--success-color);
    }
    &.late{
      background-color: var(--ion-color-warning);
    }
    &.cancel{
      span {
        color: var(--main-txt-color) !important;
      }
    }
    span {
      justify-content: space-around;
      padding: 10px;
      color: #FFF;
    }
  }
}

ion-radio-group {
  ion-label {
    color: var(--main-txt-color);
  }
}
