// PAGES
app-more {
  .menu-item {
    ion-card {
      --background: var(--secondary-bg-color) !important;

      ion-card-content {
        color: var(--main-txt-color);
      }
    }
  }
}

app-apcard {
  .strip-top,
  .strip-bottom {
    background-image: linear-gradient(to bottom, var(--sub-primary-color), var(--primary-color)) !important;
  }
}

app-attendance {
  .cover {
    background: var(--main-bg-color);
    background: -moz-linear-gradient(
      top,
      var(--main-bg-color) 0%,
      var(--secondary-bg-color) 50%,
      var(--tertiary-bg-color) 100%
    );
    background: -webkit-gradient(
      left top,
      left bottom,
      color-stop(0%, var(--main-bg-color)),
      color-stop(50%, var(--secondary-bg-color)),
      color-stop(100%, var(--tertiary-bg-color))
    );
    background: -webkit-linear-gradient(
      top,
      var(--main-bg-color) 0%,
      var(--secondary-bg-color) 50%,
      var(--tertiary-bg-color) 100%
    );
    background: -o-linear-gradient(
      top,
      var(--main-bg-color) 0%,
      var(--secondary-bg-color) 50%,
      var(--tertiary-bg-color) 100%
    );
    background: -ms-linear-gradient(
      top,
      var(--main-bg-color) 0%,
      var(--secondary-bg-color) 50%,
      var(--tertiary-bg-color) 100%
    );
    background: linear-gradient(
      to bottom,
      var(--main-bg-color) 0%,
      var(--secondary-bg-color) 50%,
      var(--tertiary-bg-color) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bdbbbd',
        endColorstr='#f5f5f5',
        GradientType=0);
  }

  .blur::after {
    -webkit-box-shadow: 0px 0px 0px 2000px var(--tertiary-bg-color);
    box-shadow: 0px 0px 0px 2000px var(--tertiary-bg-color);
  }

  #widget-value {
    color: var(--main-txt-color);
    text-shadow: 0 1px 2px var(--tertiary-bg-color);
  }

  #widget-content {
    border: 1px solid var(--secondary-bg-color);
    box-shadow: 2px 2px 22px var(--tertiary-bg-color), -2px -2px 22px var(--tertiary-bg-color);
  }
}

// COMPONENETS
quick-access-item {
  &:hover {
    ion-card {
      --background: var(--tertiary-bg-color) !important;
    }
  }
}

events-list {
  .event-container {
    background: var(--secondary-bg-color);
    color: var(--main-txt-color);

    &:not(.no-hover):hover {
      background: var(--tertiary-bg-color);
    }

    &.passed-event {
      border-color: var(--passed-event-color) !important;
      background-color: var(--secondary-bg-color) !important;

      .left-part,
      .title,
      .description a,
      .description {
        color: var(--passed-event-color) !important;
      }

      .type {
        background-color: var(--passed-event-color) !important;
      }
    }

    .left-part {
      color: var(--main-txt-color);
    }
  }

  .spacer {
    border-color: var(--main-bg-color);
  }
}

:host ::ng-deep quick-access-item {
  &:hover {
    ion-card {
      box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14),
        0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    }
  }
}

// IONIC COMPONENTS
ion-searchbar {
  --placeholder-color: var(--secondary-txt-color) !important;
  --color: var(--main-txt-color) !important;
}

ion-list {
  background: var(--secondary-bg-color) !important;
}

ion-toolbar {
  --background: var(--secondary-bg-color) !important;
  color: var(--tertiary-txt-color) !important;
  --border-width: 0 !important;
}

ion-card {
  ion-card-subtitle,
  .small-text {
    color: var(--secondary-txt-color);
  }
}

ion-item {
  --background: var(--secondary-bg-color) !important;
  --color: var(--main-txt-color) !important;
  --background-activated: var(--tertiary-bg-color) !important;
  --border-color: var(--tertiary-bg-color) !important;
}

ion-item-divider {
  --background: var(--secondary-bg-color) !important;
  --color: var(--tertiary-txt-color) !important;
}

ion-slide {
  color: var(--main-txt-color) !important;
}

ion-card {
  --background: var(--secondary-bg-color) !important;
  --color: var(--secondary-txt-color) !important;
}

ion-slides {
  --bullet-background: var(--main-txt-color) !important;
}

ion-tab-button {
  --color: var(--tertiary-txt-color) !important;
}

// FOLLOWING PRIMARY COLOR
ion-slides {
  --bullet-background-active: var(--primary-color) !important;
}

ion-card:not(.ion-color-danger) {
  ion-card-title {
    color: var(--primary-color) !important;
  }
}

ion-tab-button {
  --color-selected: var(--primary-color) !important;
}

ion-radio {
  --color-checked: var(--primary-color) !important;
  --color: var(--main-txt-color) !important;
}

ion-toggle {
  --background: var(--secondary-txt-color) !important;
  --handle-background: var(--main-bg-color) !important;
  --background-checked: var(--tertiary-bg-color) !important;
  --handle-background-checked: var(--primary-color) !important;
}

ion-chip {
  --background: var(--tertiary-bg-color) !important;
  --color: var(--main-txt-color) !important;
}

// ion-datetime
.picker-opt.picker-opt-selected,
.picker-prefix,
.picker-suffix,
button.picker-button {
  color: var(--primary-color) !important;
}

.picker-below-highlight,
.picker-above-highlight {
  display: none !important;
}

.picker-opt {
  color: var(--tertiary-txt-color);
}

// ALERT STYLES
.alert-wrapper {
  background: var(--main-bg-color) !important;

  .alert-title {
    color: var(--main-txt-color) !important;
  }

  .alert-input-group {
    .alert-input-wrapper {
      input {
        color: var(--main-txt-color) !important;
      }
    }
  }

  // ALERT CHECKBOX STYLES
  .alert-checkbox-group {
    border-color: var(--secondary-bg-color) !important;

    .alert-checkbox-button {
      .alert-checkbox-label {
        color: var(--main-txt-color);
      }

      &[aria-checked="true"] {
        .alert-checkbox-icon {
          background-color: var(--primary-color) !important;
          border-color: var(--primary-color) !important;
        }
      }

      &[disabled] {
        .alert-checkbox-label {
          color: var(--tertiary-txt-color);
        }

        &[aria-checked="true"] {
          .alert-checkbox-icon {
            background-color: var(--tertiary-txt-color) !important;
            border-color: var(--tertiary-txt-color) !important;
          }
        }
      }
    }
  }

  // ALERT RADIO BUTTONS STYLE
  .alert-radio-group {
    border-color: var(--secondary-bg-color) !important;

    .alert-radio-button {
      .alert-radio-label {
        color: var(--main-txt-color);
      }

      &[aria-checked="true"] {
        alert-radio-icon {
          background-color: var(--primary-color) !important;
          border-color: var(--primary-color) !important;

          .alert-radio-inner {
            background-color: var(--primary-color) !important;
            border-color: var(--primary-color) !important;
          }
        }

        .alert-radio-label {
          color: var(--primary-color);
        }
      }

      &[disabled] {
        .alert-radio-label {
          color: var(--tertiary-txt-color);
        }

        &[aria-checked="true"] {
          .alert-radio-icon {
            background-color: var(--tertiary-txt-color) !important;
            border-color: var(--tertiary-txt-color) !important;
          }
        }
      }
    }

    // SPECIAL SETTINGS FOR IOS AND ANDROID
    [aria-checked="true"].sc-ion-alert-ios .alert-radio-inner.sc-ion-alert-ios {
      // IOS RADIO ICON
      border-color: var(--primary-color) !important;
    }

    [aria-checked="true"].sc-ion-alert-md .alert-radio-icon.sc-ion-alert-md {
      // MD RADIO ICON
      border-color: var(--primary-color) !important;
    }

    .alert-radio-inner.sc-ion-alert-md {
      background-color: var(--primary-color) !important;
    }
  }
  .alert-button-group {
    .alert-button {
      color: var(--primary-color);
    }
  }
}

// OUR OWN LIBRARY
.main-text-color {
  color: var(--main-txt-color) !important;
}

.secondary-txt-color {
  color: var(--secondary-txt-color) !important;
}

.tertiary-txt-color {
  color: var(--tertiary-txt-color) !important;
}

.danger-text {
  color: var(--danger-color) !important;
}

.warning-text {
  color: #FFCE56 !important;
}

.colored-text {
  color: var(--primary-color) !important;
}

.success-text {
  color: var(--success-color) !important;
}

.colored-border {
  border-color: var(--primary-color) !important;
}

ion-button {
  &.colored-background {
    --background: var(--primary-color) !important;
    --background-hover: var(--sub-primary-color);
  }

  &.success-background {
    --background: var(--success-color);
    --background-hover: var(--success-hover-color);
  }

  &.chat-in-teams {
    --background: #464775;
    --background-hover: #5f60a3;
  }
  &.colored-border {
    --border-color: var(--primary-color) !important;
  }
  &.danger-background {
    --background: var(--danger-color) !important;
    --background-hover: var(--danger-hover-color);
  }
}

ion-fab-button {
  &.colored-background {
    --background: var(--primary-color) !important;
    --background-activated: var(--primary-color) !important;
    --background-hover: var(--sub-primary-color);
  }

  &.danger-background {
    --background: var(--danger-color) !important;
    --background-activated: var(--danger-color) !important;
    --background-hover: var(--danger-hover-color);
  }
}

ion-alert {
  .alert-sub-title,
  .alert-message {
    color: var(--secondary-txt-color) !important;
  }
}

ion-action-sheet {
  // Android & iOS items color
  .action-sheet-button.sc-ion-action-sheet-md,
  .action-sheet-button.sc-ion-action-sheet-ios {
    color: var(--main-txt-color);
  }
  // iOS actionsheet background
  .action-sheet-group.sc-ion-action-sheet-ios {
    --background: var(--main-bg-color) !important;
  }
}

ion-segment {
  ion-segment-button {
    &.md {
      --color-checked: var(--primary-color);
      --color: var(--tertiary-txt-color);
    }

    &.ios {
      --background-checked: var(--primary-color);
      --color-checked: var(--main-bg-color);
      --color: var(--tertiary-txt-color);
      --border-color: var(--tertiary-txt-color);
      --border-color-checked: var(--primary-color);
    }
  }
}

// iOS toolbar buttons
.sc-ion-buttons-ios-hion-toolbar:not(.ion-color).sc-ion-buttons-ios-s .button-clear,
ion-toolbar:not(.ion-color) .sc-ion-buttons-ios-h.sc-ion-buttons-ios-s .button-clear {
  --color: var(--secondary-txt-color);
  --color-activated: var(--secondary-txt-color);
  --color-hover: var(--secondary-txt-color);
  --color-focused: var(--secondary-txt-color);
}

// PURE BUTTONS
.pure {
  ion-button {
    &.colored-background {
      --background: var(--tertiary-bg-color) !important;
      --background-hover: var(--tertiary-bg-color);
    }
  }
  ion-fab-button {
    &.colored-background {
      --background: var(--tertiary-bg-color) !important;
      --background-activated: var(--tertiary-bg-color) !important;
      --background-hover: var(--tertiary-bg-color);
    }
  }
}

ion-searchbar {
  --icon-color: #666 !important;  // default color
  --cancel-button-color: #666 !important; // default #1a1a1a, not readable on dark theme
  --clear-button-color: #666 !important; // default initial, does not look good on dark theme
}


.success-alert{
  .alert-wrapper{
    .alert-head{
      background-color: var(--success-color);
      .alert-title, .alert-sub-title{
        color: #FFFFFF !important;
      }
    }
    .alert-message{
      padding-top: 10px !important;
      padding-bottom: 0 !important;
    }
    .alert-button{
      color: var(--success-color) !important;
    }
  }
}

.danger-alert{
  .alert-wrapper{
    .alert-head{
      background-color: var(--danger-color);
      .alert-title, .alert-sub-title{
        color: #FFFFFF !important;
      }
    }
    .alert-message{
      padding-top: 10px !important;
      padding-bottom: 0 !important;
    }
    .alert-button{
      color: var(--danger-color) !important;
    }
  }
}