// general
.transparent {
  --background: transparent !important;
}

.no-box-shadow {
  box-shadow: none !important;
}

.margin-auto {
  margin: auto;
}

.top-bottom-margin-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.show-only-on-small-devices{
  display: none !important;
}

.show-only-on-other-devices{
  display: inline-block !important;
}

// mark new attendance
.input-item {
  --background-hover: transparent !important;
  --background-activated: transparent !important;
  --ripple-color: transparent !important;
  ion-label {
    padding-left: 2px;
  }

  &.item-interactive-disabled {
    ion-label {
      opacity: .5 !important;
    }
  }
}

.select-box {
  border-radius: 3px;
  background: var(--main-bg-color);
  border: 1px solid var(--tertiary-bg-color);
  min-height: 40px;
  margin-top: 10px;
  width: 100%;
  padding: 8px 10px 9px 10px !important;
  &:hover{
    background-color: var(--tertiary-bg-color);
  }
  span {
    float: left;

    &.text {
      color: var(--main-txt-color);
      overflow: hidden;
      white-space: pre;
      display: block;
      text-overflow: ellipsis;
      width: 92%;

      &.placeholder {
        opacity: .33;
      }
    }

    &.icon {
      width: 8%;
      display: block;
      text-align: right;
      ion-icon{
        opacity: .33;
        font-size: 17px !important;
      }
    }

  }
}

.form-input {
  border-radius: 3px;
  background: var(--main-bg-color);
  border: 1px solid var(--tertiary-bg-color);
  min-height: 40px;
  margin-top: 10px;
  &.date-picker{
    min-height: auto !important;
    padding: 8px 10px 9px 10px !important;
  }
  ion-grid { // fix the same width as the other input
    ion-col {
      height: 43px; // original min-height 48px
      margin-top: -4px;
      margin-bottom: 3px;
      ion-item {
        margin-top: -2px;
        top: 5px;
        --min-height: 43px;
      }
    }
  }
  &:hover{
    background-color: var(--tertiary-bg-color);
  }
}

ion-select.form-input {
  width: 100%;
  padding: 8px 10px 9px 10px !important;
}

ion-radio-group.form-input {
  width: 100%;
}

// attendance logs
.select-container {
  .input {
    border: 1px solid var(--tertiary-bg-color);
  }
}

.table {
  .table-container {
    padding-top: 5px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;

    .table-header {
      padding-bottom: 5px;
      border-bottom: 1px solid #cccccc;

      ion-text {
        font-size: 1rem;
      }
    }

    .table-row {
      padding-top: 5px;
      padding-bottom: 0;

      &:hover {
        background: var(--tertiary-bg-color);
      }
    }
  }
}

// media queries for changing table to card design in small devices
@media (max-width: 575px) { // small screen
  .table-header{
    display: none;
  }
  .table-row{
    &.text-bold.no-bold-on-small-devices{
      font-weight: normal !important;
    }
    .ion-text-center.no-center-on-small-devices{
      text-align: left !important;
    }
    .title-on-small-devices{
      font-size: 1.1rem;
      font-weight: bold;
    }
  }

  .show-only-on-small-devices{
    display: inline-block !important;
  }
  .show-only-on-other-devices{
    display: none !important;
  }

  .border-bottom{
    border-bottom: 1px solid var(--main-txt-color) !important;
  }

  .bold-on-small-devices{
    font-weight: bold;
  }
  // .table-item {
  //   --background: var(--secondary-bg-color) !important;

  //   &:nth-child(even) {
  //     --background: var(--secondary-bg-color) !important;
  //   }
  //   &:not(:last-child) {
  //     margin-bottom: 15px;
  //   }
  //   --padding-top: 5px;
  //   box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  // }
  // ion-card.table-background {
  //   --background: transparent !important;
  //   box-shadow: none !important;
  // }
}
