<ion-header>
  <ion-toolbar mode="md">
    <ion-title>Exam Schedule</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button fill="outline" size="small" (click)="presentIntakeSearch()" class="colored-text colored-border">
        {{ intake || 'Intakes' }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" pullMax="400" pullMin="60" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshing-spinner="dots" pullingIcon="refresh"></ion-refresher-content>
  </ion-refresher>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-lg="6" offset-lg="3">
        <ion-card color="danger">
          <ion-card-header color="danger">
            <ion-card-title class="ion-text-center" style="color: #FFFFFF !important;">
              IMPORTANT NOTICE
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p class="secondary-txt-color ion-padding-bottom" style="color: #FFFFFF !important;">
              All examinations (Resit & Final Examinations) will be replaced with alternative assessment methods-
              Assignments, take home exam, online exams & etc until further notice.</p>
            <p class="secondary-txt-color ion-padding-bottom text-bold" style="color: #FFFFFF !important;">
              Kindly keep in contact with your module lecturers via Microsoft Teams /Moodle for details.
            </p>
          </ion-card-content>
        </ion-card>
        <!-- <div class="ion-padding ion-text-center">
          <h6 class="text-bold danger-text"></h6>

          <ion-button class="danger-border" fill="outline" (click)="openGuidlines()">
            View Examination Guideline
          </ion-button>
        </div> -->
      </ion-col>
    </ion-row>
  </ion-grid>
  <ng-template [ngIf]="!showNoIntakeMessage" [ngIfElse]="noIntakeSelected">
    <ng-template let-exams [ngIf]="exam$ | async" [ngIfElse]="loadingExams">
      <ng-template [ngIf]="exams.length !== 0" [ngIfElse]="noExams">
        <ion-grid class="ion-no-padding ion-padding-start ion-padding-end">
          <ion-row>
            <ion-col size="12" size-lg="6" offset-lg="3">
              <div class="ion-padding ion-text-center">
                <h5 class="secondary-txt-color ion-padding-bottom">Selected intake: {{ intake }}</h5>
                <h6 class="text-bold danger-text">Important Note:</h6>
                <p class="secondary-txt-color ion-padding-bottom">
                  By using the exam schedule service in APSpace, you are agreeing to our exam guidelines and
                  procedures.
                  Please make sure to read them carefully.
                </p>
                <p class="danger-text ion-padding-bottom text-bold">
                  All exam times are displayed in Malaysia Time Zone (GMT+8)
                </p>
                <ion-button class="danger-border" fill="outline" (click)="openGuidlines()">
                  View Examination Guideline
                </ion-button>
              </div>
            </ion-col>
            <ion-col size="12" size-lg="6" offset-lg="3" *ngFor="let exam of exams">
              <div>
                <ion-card class="ion-no-margin">
                  <ion-card-header>
                    <ion-card-title class="responsive-h1">
                      {{ exam.subjectDescription }}
                    </ion-card-title>
                    <ion-card-subtitle class="responsive-h1">
                      {{ exam.since | date: 'EEEE, dd MMM y' : '+0800' }}
                    </ion-card-subtitle>
                  </ion-card-header>
                  <ion-card-content class="ion-no-padding">
                    <ion-list>
                      <ion-item lines="none">
                        <ion-icon name="book"></ion-icon>
                        <p class="ion-padding-start">{{ exam.module }}</p>
                      </ion-item>
                      <ion-item lines="none" *ngIf="exam.assessmentType">
                        <ion-icon name="pricetag"></ion-icon>
                        <p class="ion-padding-start">{{ exam.assessmentType }}</p>
                      </ion-item>
                      <ion-item lines="none">
                        <ion-icon name="pin"></ion-icon>
                        <p class="ion-padding-start">{{ exam.venue }}</p>
                      </ion-item>
                      <ion-item lines="none">
                        <ion-icon name="time"></ion-icon>
                        <p class="ion-padding-start">
                          {{ exam.since | date: 'h:mm a': '+0800' }} -
                          {{ exam.until | date: 'h:mm a': '+0800' }}
                        </p>
                      </ion-item>
                    </ion-list>
                  </ion-card-content>
                  <ion-footer>
                    <ion-grid>
                      <ion-row *ngIf="exam.docketsDue">
                        <ion-col size="7">
                          <span>
                            *Dockets Issuance (Week Of):
                          </span>
                        </ion-col>
                        <ion-col size="5" class="ion-text-right">
                          <p>{{ exam.docketsDue | date: 'EEE, dd MMM y' }}</p>
                        </ion-col>
                      </ion-row>
                      <ion-row *ngIf="exam.appraisalsDue">
                        <ion-col size="7">
                          <span t>
                            *Appraisals Due:
                          </span>
                        </ion-col>
                        <ion-col size="5" class="ion-text-right">
                          <p>{{ exam.appraisalsDue | date: 'EEE, dd MMM y' }}</p>
                        </ion-col>
                      </ion-row>
                      <ion-row *ngIf="exam.resultDate">
                        <ion-col size="7">
                          <span>
                            *Expected Result Release Date:
                          </span>
                        </ion-col>
                        <ion-col size="5" class="ion-text-right">
                          <p>{{ exam.resultDate | date: 'EEE, dd MMM y' }}</p>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-footer>
                </ion-card>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ng-template>
      <ng-template #noExams>
        <app-message-with-svg imageUrl="assets/img/empty.svg" messageTitle="No Exam Schedule For {{intake}}!"
          wrapperSize="6" wrapperMarginTop="30px" wrapperOffset="3"
          messageContent="The exam schedule for the selected intake has not been published yet">
        </app-message-with-svg>
      </ng-template>
    </ng-template>


    <!-- Loading -->
    <ng-template #loadingExams>
      <ion-grid>
        <ion-row>
          <ion-col size="12" size-lg="6" *ngFor="let s of skeletonSettings.numberOfSkeltons">
            <div>
              <ion-card>
                <ion-card-header>
                  <ion-card-title class="responsive-h1">
                    <ion-skeleton-text animated style="width: 60%; line-height: 20px"></ion-skeleton-text>
                  </ion-card-title>
                </ion-card-header>
                <ion-card-content class="ion-no-padding">
                  <ion-list>
                    <ion-item lines="none">
                      <ion-skeleton-text animated style="width: 20%; line-height: 20px"></ion-skeleton-text>
                    </ion-item>
                    <ion-item lines="none">
                      <ion-skeleton-text animated style="width: 20%; line-height: 20px" class="ion-padding-start">
                      </ion-skeleton-text>
                    </ion-item>
                    <ion-item lines="none">
                      <ion-skeleton-text animated style="width: 20%; line-height: 20px" class="ion-padding-start">
                      </ion-skeleton-text>
                    </ion-item>
                    <ion-item lines="none">
                      <ion-skeleton-text animated style="width: 20%; line-height: 20px" class="ion-padding-start">
                      </ion-skeleton-text>
                    </ion-item>
                  </ion-list>
                </ion-card-content>
                <hr />
                <ion-footer>
                  <ion-grid>
                    <ion-row>
                      <ion-col size="7">
                        <span>
                          <ion-skeleton-text animated style="width: 20%; line-height: 20px"></ion-skeleton-text>
                        </span>
                      </ion-col>
                      <ion-col size="5">
                        <ion-skeleton-text animated style="width: 20%; line-height: 20px"></ion-skeleton-text>
                      </ion-col>
                    </ion-row>
                    <div>
                      <ion-row>
                        <ion-col size="7">
                          <span>
                            <ion-skeleton-text animated style="width: 20%; line-height: 20px"></ion-skeleton-text>
                          </span>
                        </ion-col>
                        <ion-col size="5">
                          <ion-skeleton-text animated style="width: 20%; line-height: 20px"></ion-skeleton-text>
                        </ion-col>
                      </ion-row>
                    </div>
                  </ion-grid>
                </ion-footer>
              </ion-card>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ng-template>
  </ng-template>
  <!-- No Intake Selected -->
  <ng-template #noIntakeSelected>
    <app-message-with-svg imageUrl="assets/img/config.svg" messageTitle="No Intake Has Been Selected!" wrapperSize="6"
      wrapperMarginTop="50px" wrapperOffset="3"
      messageContent="Please select an intake first to view its exam schedule.">
    </app-message-with-svg>
  </ng-template>

</ion-content>