<div class="flex-container">
  <div class="loader" [ngStyle]="{'height': size, 'width': size, 'position': position}">
    <div class="inner one"></div>
    <div class="inner two"></div>
    <div class="inner three"></div>
  </div>
  <p *ngIf="message" class="text-alignment ion-text-wrap">{{message}}</p>
</div>
