<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>E-Orientaton Student Portal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- table -->
  <ion-card class="table" *ngIf="studentsList$ | async as students; else loadingList">
    <h2 class="ion-padding colored-text">Your Students List ({{students.length}} Students)</h2>
    <ion-card-content class="table-container">
      <ion-grid class="ion-no-padding">
        <!-- table header -->
        <ion-row class="table-header">
          <ion-col class="ion-text-center">
            <ion-text>Student Name</ion-text>
          </ion-col>
          <ion-col class="ion-text-center">
            <ion-text>Student ID No.</ion-text>
          </ion-col>
          <ion-col class="ion-text-center">
            <ion-text>Course</ion-text>
          </ion-col>
          <ion-col class="ion-text-center">
            <ion-text>Intake</ion-text>
          </ion-col>
          <ion-col>
            <!-- empty col -->
          </ion-col>
        </ion-row>

        <!-- table body -->
        <!-- <ng-container *ngIf="classcodes | classcodesFilter:term:timeFrame as filteredClassCode"> -->
        <!-- <ng-container *ngIf="filteredClassCode.length > 0; else noFilteredClassCode"> -->
        <ion-row class="table-row text-bold no-bold-on-small-devices" *ngFor="let student of students">
          <ion-col size="12" size-sm="" class="margin-auto ion-text-center no-center-on-small-devices">
            <ion-text class="title-on-small-devices">{{student.STUDENT_NAME || 'N/A'}}</ion-text>
          </ion-col>
          <ion-col size="12" size-sm="" class="margin-auto ion-text-center no-center-on-small-devices">
            <span class="show-only-on-small-devices bold-on-small-devices">Student ID No.:&nbsp;</span>
            <ion-text>{{student.STUDENT_NUMBER || 'N/A'}}</ion-text>
          </ion-col>
          <ion-col size="12" size-sm="" class="margin-auto ion-text-center no-center-on-small-devices">
            <span class="show-only-on-small-devices bold-on-small-devices">Course:&nbsp;</span>
            <ion-text>{{student.COURSE || 'N/A'}}</ion-text>
          </ion-col>
          <ion-col size="12" size-sm="" class="margin-auto ion-text-center no-center-on-small-devices">
            <span class="show-only-on-small-devices bold-on-small-devices">Intake:&nbsp;</span>
            {{student.INTAKE || 'N/A'}}
          </ion-col>
          <ion-col size="12" size-sm="" class="margin-auto ion-text-center">
            <!-- small devices only -->
            <ion-button fill="outline" size="small" class="ion-margin-end" color="primary"
              (click)="viewProfile(student.STUDENT_NUMBER)">
              View Full Profile
              <ion-icon slot="end" name="eye"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="8" offset="2" class="show-only-on-small-devices border-bottom ion-margin-bottom">
            <!-- to add border on card design (small devices) -->
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <ng-template #loadingList>
    <ion-card class="table">
      <h2 class="ion-padding colored-text">Your Students List </h2>
      <ion-card-content class="table-container">
        <ion-grid class="ion-no-padding">
          <!-- table header -->
          <ion-row class="table-header">
            <ion-col class="ion-text-center">
              <ion-text>Student Name</ion-text>
            </ion-col>
            <ion-col class="ion-text-center">
              <ion-text>Student ID No.</ion-text>
            </ion-col>
            <ion-col class="ion-text-center">
              <ion-text>Course</ion-text>
            </ion-col>
            <ion-col class="ion-text-center">
              <ion-text>Intake</ion-text>
            </ion-col>
            <ion-col>
              <!-- empty col -->
            </ion-col>
          </ion-row>

          <!-- table body -->
          <!-- <ng-container *ngIf="classcodes | classcodesFilter:term:timeFrame as filteredClassCode"> -->
          <!-- <ng-container *ngIf="filteredClassCode.length > 0; else noFilteredClassCode"> -->
          <ion-row class="table-row text-bold no-bold-on-small-devices" *ngFor="let skeleton of skeletons">
            <ion-col size="12" size-sm="" class="margin-auto ion-text-center no-center-on-small-devices">
              <ion-skeleton-text animated style="width: 100%; line-height: 35px;"></ion-skeleton-text>
            </ion-col>
            <ion-col size="12" size-sm="" class="margin-auto ion-text-center no-center-on-small-devices">
              <span class="show-only-on-small-devices bold-on-small-devices">Student ID No.:&nbsp;</span>
              <ion-skeleton-text animated style="width: 100%; line-height: 35px;"></ion-skeleton-text>
            </ion-col>
            <ion-col size="12" size-sm="" class="margin-auto ion-text-center no-center-on-small-devices">
              <span class="show-only-on-small-devices bold-on-small-devices">Course:&nbsp;</span>
              <ion-skeleton-text animated style="width: 100%; line-height: 35px;"></ion-skeleton-text>
            </ion-col>
            <ion-col size="12" size-sm="" class="margin-auto ion-text-center no-center-on-small-devices">
              <span class="show-only-on-small-devices bold-on-small-devices">Intake:&nbsp;</span>
              <ion-skeleton-text animated style="width: 100%; line-height: 35px;"></ion-skeleton-text>
            </ion-col>
            <ion-col size="12" size-sm="" class="margin-auto ion-text-center">
              <!-- small devices only -->
              <ion-skeleton-text animated style="width: 100%; line-height: 35px;"></ion-skeleton-text>
            </ion-col>
            <ion-col size="8" offset="2" class="show-only-on-small-devices border-bottom ion-margin-bottom">
              <!-- to add border on card design (small devices) -->
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ng-template>
  <div class="ion-padding-start ion-padding-end ion-text-right">
    <!-- <ion-button class="colored-background" (click)="insertNewStudent()">Insert New Student</ion-button> -->
    <ion-button class="colored-background" (click)="openForms()">See Profile Update Requests</ion-button>
  </div>
</ion-content>