<ng-container *ngIf="(calendar$ | async) as calendar; else loading">
  <ng-container *ngIf="(calendar | length); else empty">
    <ion-card *ngFor="let week of (calendar | keyvalue) | reverse">
      <ion-card-header class="card-header">
        <ion-item lines="none" class="ion-no-padding">
          <ion-label>
            <h2 class="cursor-pointer colored-text" (click)='show(week.key, $event.target)'>
              <span class="text-bold">Week</span>: <span class="week-title ">{{ week.key | fromWeek | date }}</span>
            </h2>
          </ion-label>
          <ion-icon slot="end" class="cursor-pointer colored-text icon-hover" name="print"
            (click)='sendToPrint(week.key)'></ion-icon>
          <ion-icon slot="end" class="cursor-pointer colored-text icon-hover"
            [name]=" selectedWeeks.includes(week.key) ? 'ios-arrow-up' : 'ios-arrow-down'"
            (click)='show(week.key, $event.target)'></ion-icon>
        </ion-item>
      </ion-card-header>

      <ion-card-content *ngIf="selectedWeeks.includes(week.key)" class="controlled-card">
        <ion-grid class="table-top ion-no-margin ion-no-padding">
          <ion-row class="ion-no-padding">
            <ion-col size="12" size-sm="2">
              <h2 class="text-bold">Day</h2>
            </ion-col>
            <ion-col size="12" size-sm="2">
              <h2 class="text-bold">Time</h2>
            </ion-col>
            <ion-col size="12" size-sm="2">
              <h2 class="text-bold">Module</h2>
            </ion-col>
            <ion-col size="12" size-sm="3">
              <h2 class="text-bold">Location</h2>
            </ion-col>
            <ion-col size="12" size-sm="3">
              <h2 class="text-bold">{{ week.value.length > 1 ? 'Intakes' : 'Intake' }}</h2>
            </ion-col>

            <hr class="marker hr-custom" />
          </ion-row>
        </ion-grid>

        <ion-grid *ngFor="let day of week.value" class="ion-no-padding ion-no-margin">
          <ion-row>
            <ion-col size="12" size-sm="2">
              <span class="marker">Day: </span>
              {{ day.start | date:'EEE, dd MMM': "+0800" }}
            </ion-col>

            <ion-col size="12" size-sm="2">
              <span class="marker">Time: </span>
              {{ day.start | date:'shortTime': "+0800" }} - {{ day.end | date:'shortTime': "+0800" }}
            </ion-col>

            <ion-col size="12" size-sm="2">
              <span class="marker">Module: </span>
              {{ day.module }}
            </ion-col>

            <ion-col size="12" size-sm="3">
              <span class="marker">Location: </span>
              {{ day.loc }}
            </ion-col>

            <ion-col size="12" size-sm="3">
              <span class="marker">Intakes: </span>
              <ng-container *ngFor="let intake of day.intakes; last as last">
                <a class="colored-text" [routerLink]="['/student-timetable', intake]">{{ intake }}</a>
                <ng-container *ngIf="!last">, </ng-container>
              </ng-container>
            </ion-col>

            <!-- mobile separator -->
            <hr class="marker hr-custom">
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ng-container>
  <ng-template #empty>
    <ion-card>
      <ion-card-content>No timetable available</ion-card-content>
    </ion-card>
  </ng-template>
</ng-container>
<ng-template #loading>
  <ion-card>
    <ion-card-content>
      <ion-skeleton-text animated width="100%" style="line-height: 100px"></ion-skeleton-text>
    </ion-card-content>
  </ion-card>
</ng-template>