<ion-header>
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" [hidden]="comingFromTabs"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Timetable
    </ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="intakeSelectable" fill="outline" size="small" (click)="presentIntakeSearch()"
        class="colored-text colored-border">
        {{ intake || 'Intakes' }}
      </ion-button>
      <ion-button *ngIf="intake && availableGrouping.length > 0" fill="outline"
        size="small" class="colored-text colored-border"
        (click)="chooseGrouping()" [disabled]="availableGrouping.length <= 2"> <!-- ALL, T1 -->
        {{ selectedGrouping || 'Grouping' }}
      </ion-button>
      <ion-button fill="icon" size="small" (click)="show2ndToolbar = !show2ndToolbar" class="colored-text">
        <ion-icon *ngIf="!show2ndToolbar" md="ios-arrow-down" name="arrow-down"></ion-icon>
        <ion-icon *ngIf="show2ndToolbar" md="ios-arrow-up" name="arrow-up"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar *ngIf="show2ndToolbar">
    <ion-buttons slot="start">
      <ion-button size="small" fill="outline" (click)="chooseWeek()" [disabled]="availableWeek!.length === 0"
        class="colored-text colored-border">
        {{ ((viewWeek ? selectedWeek : selectedDate) | date) || 'Weeks' }}
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-item lines="none" (click)="rotateView()" size="small" fill="outline" [class.colored-text]="viewWeek"
        [class.colored-border]="viewWeek">
        <ion-label style="margin-right: 5px;">Weekly</ion-label>
        <ion-toggle style="padding-left: 0; padding-right: 0;" [checked]="viewWeek"></ion-toggle>
      </ion-item>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event.target)">
    <ion-refresher-content refreshing-spinner="dots" pullingIcon="refresh"></ion-refresher-content>
  </ion-refresher>


  <!-- do not add filter pipe here as it affects loading -->
  <ng-container *ngIf="(timetable$ | async) as timetables; else loading">
    <ng-template let-timetables
      [ngIf]="!viewWeek ? (timetables | classes:intake:room:selectedGrouping | theday:selectedDate | gen:freeTime) : (timetables | classes:intake:room:selectedGrouping | theweek:selectedWeek | gen:freeTime)"
      [ngIfElse]="loading">
      <ng-container *ngIf="timetables!.length; else empty">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-card class="ion-no-margin">
                <ion-card-header style="margin-bottom: 0; padding: 0!important; padding-left:16px !important;">
                  <ion-card-title>
                    <ion-item lines="none" class="ion-no-padding ion-no-margin">
                      <ion-label>
                        <h4 class="text-bold colored-text">
                          {{intake || room || ''}} Timetable
                        </h4>
                        <h5 class="small-margin-top">
                          Week: <span class="text-bold">{{selectedWeek | date : 'dd MMM yyy'}}</span>
                        </h5>
                        <h5 class="small-margin-top white-space-normal" *ngIf="selectedGrouping">
                          This timetable is for the intake grouping: <span class="danger-text text-bold">{{ selectedGrouping }}</span>. If you do not belong to this intake
                          grouping, change it by clicking on the button next to the intake button on top.
                        </h5>
                      </ion-label>
                      <ion-button fill="outline" slot="end" class="print-button colored-border" (click)="sendToPrint()">
                        <ion-icon slot="icon-only" name="print" class="colored-text"></ion-icon>
                      </ion-button>
                    </ion-item>
                  </ion-card-title>
                </ion-card-header>
                <ion-card-content class="ion-no-padding padding-bottom">
                  <ng-template [ngIf]="!viewWeek && availableWeek!.length > 0">
                    <ion-segment class="week-segment" [ngModel]="selectedDate | date:'E' | uppercase"
                      (ngModelChange)="selectedDate = availableDate[availableDays.indexOf($event)]" scrollable>
                      <ion-segment-button *ngFor="let day of availableDays" [value]="day">
                        {{ day }}
                      </ion-segment-button>
                    </ion-segment>
                  </ng-template>
                  <ng-template [ngIf]="selectedDate">

                    <ion-item class="table-top" [style.borderLeft]="'0.7rem solid transparent'">
                      <ion-grid class="ion-no-margin ion-no-padding">
                        <ng-container *ngIf="viewWeek; else viewDaily">
                          <ion-row>
                            <ion-col class="hide-on-print-table-flex-on-card ion-no-padding" size="12" size-sm="2">
                              <h2 class="text-bold md-text-center ">Module</h2>
                            </ion-col>
                            <ion-col size="12" size-sm="2" class="ion-no-padding">
                              <h2 class="text-bold md-text-center">Date</h2>
                            </ion-col>
                            <ion-col size="12" size-sm="2" class="ion-no-padding">
                              <h2 class="text-bold md-text-center">Time
                              </h2>
                            </ion-col>
                            <ion-col class="flex-on-print-table-hide-on-card ion-no-padding" size="12" size-sm="2">
                              <h2 class="text-bold md-text-center ">Module</h2>
                            </ion-col>
                            <ion-col size="12" size-sm="3" class="ion-no-padding">
                              <h2 class="text-bold md-text-center">Location</h2>
                            </ion-col>
                            <ion-col size="12" size-sm="3" class="ion-no-padding">
                              <h2 class="text-bold md-text-center">Lecturer</h2>
                            </ion-col>
                          </ion-row>
                        </ng-container>
                        <ng-template #viewDaily>
                          <ion-row>
                            <ion-col class="ion-no-padding" size="12" size-sm="3">
                              <h2 class="text-bold">Module</h2>
                            </ion-col>
                            <ion-col size="12" size-sm="2" class="ion-no-padding">
                              <h2 class="time text-bold">Time</h2>
                            </ion-col>
                            <ion-col size="12" size-sm="3" class="ion-no-padding">
                              <h2 class="text-bold">Location</h2>
                            </ion-col>
                            <ion-col size="12" size-sm="4" class="ion-no-padding">
                              <h2 class="text-bold">Lecturer</h2>
                            </ion-col>
                          </ion-row>
                        </ng-template>
                      </ion-grid>
                    </ion-item>
                  </ng-template>
                  <ion-item class="table-item" [style.borderLeft]="'0.7rem solid ' + (timetable.MODID | strToColor)"
                    *ngFor="let timetable of timetables; trackBy: trackByIndex"
                    [class.freeTime]='timetable.MODID === "FREE"'>
                    <ion-grid>
                      <ng-container *ngIf="viewWeek; else viewDaily">
                        <ion-row class="table-data">
                          <ion-col size="12" size-sm="2"
                            class="text-bold hide-on-print-table-flex-on-card ion-no-padding md-text-center">
                            <ion-text [color]="timetable.COLOR ? 'danger' : ''">{{ timetable.MODID }}</ion-text>
                          </ion-col>
                          <ion-col size="12" size-sm="2" class="ion-no-padding md-text-center">
                            <span class="marker">
                              <ion-icon name="calendar"></ion-icon>
                            </span>
                            {{ timetable.DATESTAMP_ISO | date: "EEE, d MMM " }}
                          </ion-col>
                          <ion-col size="12" size-sm="2" class="ion-no-padding md-text-center">
                            <span class="marker">
                              <ion-icon name="time"></ion-icon>
                            </span>
                            {{ timetable.TIME_FROM }} - {{ timetable.TIME_TO }}
                          </ion-col>
                          <ion-col size="12" size-sm="2"
                            class="flex-on-print-table-hide-on-card ion-no-padding md-text-center">
                            <ion-text [color]="timetable.COLOR ? 'danger' : ''">{{ timetable.MODID }}</ion-text>
                          </ion-col>
                          <ion-col size="12" size-sm="3" class="ion-no-padding md-text-center">
                            <span class="marker">
                              <ion-icon name="locate"></ion-icon>
                            </span>
                            {{ timetable.ROOM }} | {{ timetable.LOCATION }}
                          </ion-col>
                          <ion-col size="12" size-sm="3" class="ion-no-padding" *ngIf="timetable.NAME">
                            <a [routerLink]="['/staffs', timetable.SAMACCOUNTNAME]" class="md-text-center">
                              <span class="marker main-text-color">
                                <ion-icon name="contact"></ion-icon>
                              </span>
                              <span class="colored-text">
                                {{ timetable.NAME }}
                              </span>
                            </a>
                          </ion-col>
                        </ion-row>
                      </ng-container>

                      <ng-template #viewDaily>
                        <ion-row>
                          <ion-col size="12" size-sm="3" class="text-bold ion-no-padding">
                            <ion-text [color]="timetable.COLOR ? 'danger' : ''">{{ timetable.MODID }}</ion-text>
                          </ion-col>
                          <ion-col size="12" size-sm="2" class="ion-no-padding">
                            <span class="marker">
                              <ion-icon name="time"></ion-icon>
                            </span>
                            {{ timetable.TIME_FROM }} - {{ timetable.TIME_TO }}
                          </ion-col>
                          <ion-col size="12" size-sm="3" class="ion-no-padding">
                            <span class="marker">
                              <ion-icon name="locate"></ion-icon>
                            </span>
                            {{ timetable.ROOM }} | {{ timetable.LOCATION }}
                          </ion-col>
                          <ion-col size="12" size-sm="4" class="ion-no-padding" *ngIf="timetable.NAME">
                            <a [routerLink]="['/staffs', timetable.SAMACCOUNTNAME]">
                              <span class="marker main-text-color">
                                <ion-icon name="contact"></ion-icon>
                              </span>
                              <span class="colored-text">
                                {{ timetable.NAME }}
                              </span>
                            </a>
                          </ion-col>
                        </ion-row>
                      </ng-template>
                    </ion-grid>
                  </ion-item>
                  <p class="ion-padding" *ngIf="freeTime">
                    <span class="danger-text">Note:</span> If the day selected is not appearing, it means that there
                    are no classes in the room for the whole day
                  </p>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ng-container>
    </ng-template>

    <ng-template #empty>
      <ion-card>
        <ion-card-content>
          <ng-container *ngIf="intake; else noIntakeSelected">
            <ion-card class="ion-no-margin">
              <ion-card-header style="margin-bottom: 0; padding: 0!important; padding-left:16px !important;">
                <ion-card-title>
                  <ion-item lines="none" class="ion-no-padding ion-no-margin">
                    <ion-label>
                      <h4 class="text-bold colored-text">
                        {{intake || room || ''}} Timetable
                      </h4>
                      <h5 class="small-margin-top">
                        Week: <span class="text-bold">{{selectedWeek | date : 'dd MMM yyy'}}</span>
                      </h5>
                      <h5 class="small-margin-top" *ngIf="selectedGrouping">
                        This timetable is for the intake grouping: <span class="danger-text text-bold">{{ selectedGrouping }}</span>. If you do not belong to this intake
                        grouping, change it by clicking on the button next to the intake button on top.
                      </h5>
                    </ion-label>
                  </ion-item>
                </ion-card-title>
              </ion-card-header>
              <ion-card-content class="ion-no-padding padding-bottom">
                <ng-template [ngIf]="!viewWeek && availableWeek!.length > 0">
                  <ion-segment class="week-segment" [ngModel]="selectedDate | date:'E' | uppercase"
                    (ngModelChange)="selectedDate = availableDate[availableDays.indexOf($event)]" scrollable>
                    <ion-segment-button *ngFor="let day of availableDays" [value]="day">
                      {{ day }}
                    </ion-segment-button>
                  </ion-segment>
                </ng-template>
                <ng-container *ngIf="selectedDate; else weekly;">
                  <app-message-with-svg imageUrl="assets/img/happy.svg"
                    messageTitle="Hooray! No classes for {{intake}} {{selectedGrouping ? '('+ selectedGrouping +')' : '' }} on {{selectedDate | date: 'EEEE, dd MM yyy'}}"
                    wrapperSize="4" wrapperOffset="4" wrapperMarginTop="20px">
                  </app-message-with-svg>
                </ng-container>
                <ng-template #weekly>
                  <app-message-with-svg imageUrl="assets/img/happy.svg"
                    messageTitle="Hooray! No classes for {{intake}} {{selectedGrouping ? '('+ selectedGrouping +')' : '' }} on the week that starts on {{selectedWeek | date: 'EEEE, dd MM yyy'}}"
                    wrapperSize="4" wrapperOffset="4" wrapperMarginTop="20px">
                  </app-message-with-svg>
                </ng-template>

              </ion-card-content>
            </ion-card>
          </ng-container>
          <ng-template #noIntakeSelected>
            <ng-container *ngIf="room; else emptyIntake">
              <app-message-with-svg imageUrl="assets/img/no-consultations.svg"
                messageContent="The room selected does not exist or its timetable is not available"
                messageTitle="Room Timetable is not Available!" wrapperSize="4" wrapperOffset="4"
                wrapperMarginTop="20px">
              </app-message-with-svg>
            </ng-container>
            <ng-template #emptyIntake>
              <app-message-with-svg imageUrl="assets/img/config.svg"
                messageContent="Please choose an intake from the intakes button on the top right of the page"
                messageTitle="No intake selected!" wrapperSize="4" wrapperOffset="4" wrapperMarginTop="20px">
              </app-message-with-svg>
            </ng-template>
          </ng-template>
        </ion-card-content>
      </ion-card>
    </ng-template>

    <!-- trivial message but must be displayed -->
    <ion-grid class="ion-no-padding">
      <ion-row class="legend">
        <ion-col size="12" size-sm="12" size-lg="6" class="ion-no-padding">
          <ion-card class="card-special">
            <ion-card-header class="colored-border">
              <ion-card-title>Legend</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p *ngFor="let legend of legends">
                <b>{{ legend.name }}</b> - {{ legend.desc }}
              </p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12" size-sm="12" size-lg="6" class="ion-no-padding">
          <ion-card class="card-special">
            <ion-card-header class="colored-border">
              <ion-card-title>Mid Year Semester</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              While there will be no classes during the mid-semester break for your
              intake, your intake time table will continue to appear during the
              break.
            </ion-card-content>
          </ion-card>
          <ion-card class="card-special">
            <ion-card-header class="colored-border">
              <ion-card-title>Important Notice</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p>
                - Students are advised to consult your lecturers to check whether there
                will be lectures during the buffer/revision week.
              </p>
              <p>
                - The timetable published on the buffer/revision week will be the
                same as the last week of the semester.
              </p>
              <p>
                - If your lecturer decides not to use the buffer/revision week, then
                you will not be required to come for lectures during the
                buffer/revision week.
              </p>
              <p class="danger-text">
                - All times in timetable page are displayed in Malaysia Time Zone (GMT+8)
              </p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>

  <ng-template #loading>
    <ion-card class="ion-no-padding">
      <ion-card-content class="ion-no-padding">
        <ion-skeleton-text animated style="width: 100%; line-height: 100px"></ion-skeleton-text>
      </ion-card-content>
    </ion-card>
    <ion-card class="ion-no-padding">
      <ion-card-content class="ion-no-padding">
        <ion-skeleton-text animated style="width: 100%; line-height: 100px"></ion-skeleton-text>
      </ion-card-content>
    </ion-card>
    <ion-card class="ion-no-padding">
      <ion-card-content class="ion-no-padding">
        <ion-skeleton-text animated style="width: 100%; line-height: 100px"></ion-skeleton-text>
      </ion-card-content>
    </ion-card>
    <ion-card class="ion-no-padding">
      <ion-card-content class="ion-no-padding">
        <ion-skeleton-text animated style="width: 100%; line-height: 100px"></ion-skeleton-text>
      </ion-card-content>
    </ion-card>
  </ng-template>

</ion-content>
