<div class="event-calendar" *ngIf="observable$ | async as events; else loading">
    <div class="event-list" *ngIf="events.length > 0; else noEvents">
        <div class="event" *ngFor="let event of events">
            <div class="event-container ion-padding-end"
                [ngClass]="{
                    'passed-event': event.pass,
                    'no-hover': event.pass,
                    'class-type': event.type==='class',
                    'exam-type': event.type==='exam',
                    'iconsult-type': event.type==='iconsult',
                    'holiday-type': event.type !=='class' && event.type !=='exam' && event.type !=='iconsult'
                }"                
                >
                <div class="left-part-container ion-text-center">
                    <span class="left-part">
                        <span class="primaryDateTime" *ngIf="event.dateOrTime">
                            {{splitTimeAndGetOnePart('first',event.dateOrTime)}}
                        </span>
                        <span *ngIf="event.dateOrTime" class="left-part-item small d-block">
                            {{splitTimeAndGetOnePart('second',event.dateOrTime)}}
                        </span>
                        <span *ngIf="event.dateOrTime" class="left-part-item smallest d-block">
                            {{splitTimeAndGetOnePart('third',event.dateOrTime)}}
                        </span>
                    </span>
                </div>
                <div class="right-part-container">
                    <span *ngIf="event.title" class="title">{{event.title}}</span>
                    <span class="type" *ngIf="event.type">
                        <a>
                            {{event.type | titlecase}}
                        </a>
                    </span>
                    <div class="clearfix"></div>
                    <span *ngIf="event.firstDescription" class="description">{{event.firstDescription}}</span>
                    <span *ngIf="event.secondDescription" class="description">
                        <a
                            *ngIf="event.outputFormat === 'event-with-time-and-hyperlink' || event.outputFormat === 'event-with-date-and-hyperlink'; else noHyperlink">
                            {{event.secondDescription}}
                        </a>
                        <ng-template #noHyperlink>
                            <ng-container *ngIf="event.secondDescriptionIsDate; else noDate">
                                {{event.secondDescription | date: 'hh:mm a': '+0800'}}
                            </ng-container>
                            <ng-template #noDate>
                                {{event.secondDescription}}
                            </ng-template>
                        </ng-template>
                    </span>
                    <span *ngIf="event.thirdDescription"
                        class="description ion-text-right">{{event.thirdDescription}}</span>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="spacer"></div>
        </div>
    </div>
    <ng-template #noEvents>
        <app-message-with-svg
        imageUrl="assets/img/empty.svg"
        messageTitle="The list is empty!"
        wrapperSize="6"
        wrapperOffset="3"
        messageContent="Either no items to show for today, or the list has finished">
        </app-message-with-svg>
    </ng-template>
</div>
<ng-template #loading>
    <div class="event-calendar">
        <div class="event-list">
            <div class="event" *ngFor="let _ of skeletonConfigurations.eventsSkeleton">
                <div class="event-container no-hover ion-padding-end" style="border: none">
                    <div class="left-part-container" style="padding-top: 5px;">
                        <span class="left-part">
                            <span class="primaryDateTime d-block" style="padding: 2px 20px">
                                <ion-skeleton-text animated style="width: 100%; line-height: 25px"></ion-skeleton-text>
                            </span>
                            <span class="left-part-item small d-block" style="padding: 2px 15px">
                                <ion-skeleton-text animated style="width: 100%; line-height: 17px"></ion-skeleton-text>
                            </span>
                            <span class="left-part-item smallest d-block" style="padding: 2px 20px">
                                <ion-skeleton-text animated style="width: 100%; line-height: 17px"></ion-skeleton-text>
                            </span>
                        </span>
                    </div>
                    <div class="right-part-container">
                        <span class="title">
                            <ion-skeleton-text animated style="width: 90%; line-height: 25px"></ion-skeleton-text>
                        </span>
                        <span class="type">
                            <ion-skeleton-text animated style="width: 100%; line-height: 20px"></ion-skeleton-text>
                        </span>
                        <div class="clearfix"></div>
                        <span class="description">
                            <ion-skeleton-text animated style="width: 70%; line-height: 18px"></ion-skeleton-text>
                        </span>
                        <span class="description">
                            <ion-skeleton-text animated style="width: 90%; line-height: 18px"></ion-skeleton-text>
                        </span>
                        <span class="ion-text-right description">
                            <ion-skeleton-text animated style="width: 40%; line-height: 18px; float: right"></ion-skeleton-text>
                        </span>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="spacer"></div>
            </div>
        </div>
    </div>
</ng-template>